<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <!--Navigation-->
    <%- include('../views/partials/navbar', {active: "aboutme"}); %>
    
  </header>
  
  <!--Body-->

    
    
<!--Footer-->
    <footer>
      <%- include('../views/partials/footer'); %>
  </footer>
  </body>
</html>
