<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <!--Navigation-->
        <%- include('../views/partials/navbar', {active: "aboutme" }); %>

    </header>

    <!--Body-->
    <div class="h-100 d-flex justify-content-center align-items-center ">
        <div class=" w-75 ">
            <div class="card my-5">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="/images/tibinmin.jpg" class="w-75" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Tibin Thomas</h5>
                            <p>&#9642;
                                I am a software engineering student at Centennial College.                       
                            </p>
                            <p>&#9642; I have previouly worked as an iOS developer for 3 years.</p>
                            <p>&#9642; Bachelors in Computer Science from MG University, India</p>
                            <p>&#9642; In my freetime I follow football, politics and technology</p>
                            <p class="card-text"><small class="text-muted"> You can acces my resume <a href="https://drive.google.com/file/d/1JIUDpgjXMW5yYP9zKoM4q6NeDSQ7Z9pm/view?usp=sharing" class=" stretched-link">here</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--
      Place the following <div> element where you want the PDF to be displayed in your website. You can change the size using the width and height attributes.
    -->
    
        </div>
    </div>


    <!--Footer-->
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>