<!-- 
  FileName: contactme.ejs
  Name: Tibin Thomas
  Student ID:301160586
  Purpose: Used to offer a way to contact me
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <!--Head-->
  <%- include('../views/partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <!--Navigation-->
    <%- include('../views/partials/navbar', {active: "contactme" }); %>

  </header>

  <!--Body-->
  <div class="h-100 d-flex justify-content-center align-items-center ">
    <div class=" w-75 my-5 ">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <!--My Contact Information Section-->
            <div class="card-header">
              My Contact Information
            </div>
            <div class="card-body">
              <p class="card-text"><b>Email:</b> tibinmutholy@gmail.com</p>
              <p class="card-text"><b>Phone:</b> +91 8547643993</p>
              <p class="card-text"><b>Linked In:</b> <a
                  href="https://www.linkedin.com/in/tibinthomas9/">tibinthomas9</a> </p>
              <p class="card-text">
                <b>Address:</b>
                Mutholil (h),
                Kanchiyar p.o,
                Pallikavala,
                Idukki district,
                Kerala, India
                PIN: 685511
              </p>
            </div>

          </div>
        </div>
        <!-- Contact Me Section-->
        <div class="col-sm-8">
          <h1 style="color:black;"> Message me </h1>
          <form  action="/home" method = "get">
            <div class="form-row">
              <div class="col">
                <label for="fnameText">First name</label>
                <input type="text" class="form-control" id="fnameText" placeholder="" required> 
              </div>
              <div class="col">
                <label for="lnameText">Last name</label>
                <input type="text" class="form-control" id="lnameText" placeholder="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="emailText">Email address</label>
              <input type="email" class="form-control" id="emailText" placeholder="name@example.com" required>
            </div>
            <div class="form-group">
              <label for="messageText">Message</label>
              <textarea class="form-control" id="messageText" rows="3" required minlength="5"></textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary" >Send</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!--Footer-->
  <footer>
    <%- include('../views/partials/footer'); %>
  </footer>
  
</body>

</html>