<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <!--Navigation-->
        <%- include('../views/partials/navbar', {active: "contactme" }); %>

    </header>

    <!--Body-->
    <div class="h-100 d-flex justify-content-center align-items-center ">
        <div class=" w-75 ">
            <div class="card my-5">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="/images/TT.png" class="w-75" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Tibin Thomas</h5>
                            <p class="card-text">
                                I am a software engineering student at Centennial College.                       
                            </p>
                            <p>&#9642; I have previouly worked as an iOS developer for 3 years.</p>
                            <p>&#9642; Bachelors in Computer Science from MG University, India</p>
                            <p>&#9642; We stay true to our slogan</p>
                            <p class="card-text"><small class="text-muted">currently studying at Centennial College</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Footer-->
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>