<!-- 
  FileName: contactme.ejs
  Name: Tibin Thomas
  Student ID:301160586
  Purpose: Used to offer a way to contact me
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <!--Navigation-->
        <%- include('../views/partials/navbar', {active: "contactme" }); %>

    </header>

    <!--Body-->
    <div class="h-100 d-flex justify-content-center align-items-center ">
        <div class=" w-75 my-5 ">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Example multiple select</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
        </div>
    </div>


    <!--Footer-->
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>