<!-- 
  FileName: projects.ejs
  Name: Tibin Thomas
  Student ID:301160586
  Purpose: Used to showcase projects done by me
-->
<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <!--Navigation-->
        <%- include('../views/partials/navbar', {active: "projects" }); %>

    </header>

    <!--Body-->
    <div class="container w-75 my-5">

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/flappy.png" alt="flappy bird">
                <div class="card-body">
                    <h5 class="card-title">FlappySwift: game controlled using head movements</h5>
                    <p class="card-text">Recently ebay launched an open-source library called HeadGazeLib ,which could be used to control app elements using head movements instead
                        of touch.I integrated it into an open source flappy bird game build using sprite kit.I modded it to use head movements instead of touches</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="https://github.com/tibinthomas9/FlappySwift" class=" stretched-link">github link</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/waclone.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Whatsapp Status Clone</h5>
                    <p class="card-text">Replicated the whatsapp status screen functionality.The list autogrows and auto limits its size and is draggable.I was able to replicate the
                        animations and other behaviours.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="https://github.com/tibinthomas9/whatappstatusclone" class=" stretched-link">github link</a></small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images/swiftlib.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CustomComponents(Swift)</h5>
                    <p class="card-text">Created a list of custom components in swift that could be reused and could help other developers.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><a href="https://github.com/tibinthomas9/CustomComponents" class=" stretched-link">github link</a></small>
                </div>
            </div>
        </div>
    </div>



    <!--Footer-->
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>