<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <!--Head-->
    <%- include('../views/partials/head'); %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <!--Navigation-->
        <%- include('../views/partials/navbar', {active: "projects" }); %>

    </header>

    <!--Body-->
    <div class="container w-75 my-5">

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>



    <!--Footer-->
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
</body>

</html>