body {
  padding: 0px;
  margin: 0px;
  background: white !important; 
}

a {
  color: #00B7FF;
}

.jumbotron{
  margin: 40px;
  }

  .containerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
