 /* 
//  FileName: style.ejs
//  Name: Tibin Thomas
//  Student ID:301160586
//  Purpose: Used to add common styling in app and to override bootstrap styling
 */ 
body {
  padding: 0px;
  margin: 0px;
  background: white !important; 
}

a {
  color: #00B7FF;
}

.jumbotron{
  margin: 40px;
  }

  .containerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
